@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;600&display=swap');
@import "tailwindcss";

body {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
}
